* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(80, 110, 121);
}


#main-head {
    background-color: rgb(23, 23, 121);
    color: #ff0000;
    font-size: 100px;
    font-weight: bold;
    border-radius: 30px;
}



.recipe-links li,
.recipe-links a {
    font-size: 30px;
    color: #d87575;
    margin: 30px;
}